[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
boto3 = ">=1.26.0"
botocore = ">=1.29.0"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
